<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Category</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="css/profile.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/style2.css"/>
    <link rel="stylesheet" href="css/market.css"/>
    <link rel="stylesheet" href="css/categoryList.css"/>
</head>
<body>

<!--HOME _PAGE-->
<!--NAV _BAR-->
<nav class="homeTitle-min navColor nav-height" style="padding-top: 6px">
    <div class="container-fluid">
        <a class="homeTitle-mg navbar-brand navbarX hideNavText" href="/centreHome">SEASON GREEN</a>
        <a class="homeTitle-mg navbar-brand navbarX hideNavText2 showText2" href="/centreHome">CATEGORY</a>
    </div>

    <div class="profilePst">
        <div style="margin-right: 1%; margin-top: 8px; color: white">ADMIN</div>

        <div style="margin-left: 10px" class="homeProfile" >
            <div class="homeProfileInner" style="margin-top: 3px" >
                <div class="homeIcon">
                </div>
            </div>
        </div>
    </div>
    <form action="/logOut" method="post">
        <button class="logoutBtn">LOGOUT</button>
    </form>
</nav>

<div class="hideNavText2 showHiddenBar">
    <a class=" showHiddenBar" href="/centreHome">CONTROL CENTER</a>
</div>

<div class="row" style="position: relative; left: 12px">
    <div class="row " style="height: 80vh;">


        <div>


            <div class="topText mrg-tp" style="display: flex">
                <p  style="font-size: 2rem; font-weight: normal; border-bottom: solid 3px gray">EDIT CATEGORY</p>

            </div>

            <div class=" outBox" style="height: 20vh;">



                <form action="/updateCategory" method="post">


                    <div class=" outline" style="height: 15vh ;width: 100%; padding-bottom: 10%; border: solid 2px; border-color: #8899ab">
                        <label class="inputBox1">
                            <p class="toCenter">CATEGORY NAME:</p>  <input class="inputBox2" type="text" name="categoryName" placeholder="<%= data%>" required>
                        </label>
                    </div>

                    <button type="submit"  class="confirmBtn pst1" name="oldName" value="<%= data%>">CONFIRM</button>
                </form>


                <form action="/category" method="post">
                    <button type="submit"  class="cancelBtn pst2">CANCEL</button>
                </form>


            </div>
        </div>

    </div>



</div>

<div class="circle-bg outline"></div>

</body>
</html>
