<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOG-IN</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/market.css"/>
</head>
<body class="login-bg-min loginBody">

<!--LOGIN _PAGE-->


<div class="row" style="height: 100vw">
    <div class="col-xl-5 col-lg-4 col-4 col-md-3 col-sm-1" style="border-color: #0d6efd" >

    </div>

    <div class="col-xl-2 col-lg-4 col-4 col-md-6 col-sm-10 col-12 login" style="border-color: #fd0d0d">
        <div  style="color: #13593d;font-size: 2rem; width: 100%; padding: 5%; background-color: rgba(102,166,70,0.81)">SEASON GREEN</div>
        <div  style="color: #126C48; font-size: 1.4rem; background-color: rgba(83,156,71,0.46); padding: 2%">LOGIN</div>

        <div class="row">
            <div  class="col-12" style="display: flex; justify-content: center; margin-top: 35%">
                <div class="profile" >
                    <div class="profileInner" style="margin-top: 3px" >
                        <div class="icon">

                        </div>
                    </div>
                </div>
            </div>

        <form action="/centreLogin" method="post">
            <div class="col-12" style="margin-top: 8%">
                <label style="text-align: left">
                    USERNAME: <input class="col12 loginInput" type="text" style="width: 100%" name="username" required>
                </label>
            </div>

            <div class="col-12">
                <label style="text-align: left">
                    PASSWORD: <input class="col12 loginInput" type="password" style="width: 100%" name="password" required>
                </label>
            </div>
            &nbsp;
            <div class="col-12">
                <button name="login" type="submit" class="loginBtn"  style="margin-top: 5%">
                    LOGIN
                </button>

            </div>
        </form>

        </div>

    </div>

    <div class="col-xl-5 col-lg-4 col-4 col-md-3 col-sm-1" style="border-color: #edfd0d">

    </div>
</div>



</body>
</html>
