
@media  screen and (max-width: 3000px){

    .categoryBtn{
        text-align: center;
        font-weight: normal;
        font-size: 2.5rem;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: solid 4px gray;
        margin-bottom: 5%;
    }

    .categoryListPst{
        position: relative;
        /*left: 7vw;*/
    }

    .sidePst{
        position: relative;
        top: 70px
    }

    .pst-M{
        position: relative;
        left: 6.5vw
    }

    .marketSideBar{
        height: 67vh;
        overflow: scroll;

    }

    .hideNavText2{
        display: none;
    }

    .nav-height{
        height: 65px
    }


}

@media  screen and (max-width: 2500px){
    .pst-M{
        position: relative;
        left: 6vw
    }

    .categoryListPst{
        position: relative;
        /*left: 7vw;*/
    }

}



@media  screen and (max-width: 2000px){

    .pst-M{
        position: relative;
        left: 5vw
    }

}

@media  screen and (max-width: 1850px){
    .pst-M{
        position: relative;
        left: 4vw
    }

}

@media  screen and (max-width: 1600px){

    .pst-M{
        position: relative;
        left: 2vw
    }
}

@media  screen and (max-width: 1250px){


    .pst-M{
        position: relative;
        left: -2vw
    }

}


@media  screen and (max-width: 1080px){

    .pst-M{
        position: relative;
        left: -2vw
    }


}

@media  screen and (max-width: 993px){

    .hideHomeTitle{
        display: none;
    }


}

@media  screen and (max-width: 900px){
    .hideAddItemBTN{
        display: none;
    }

}

@media  screen and (min-width: 765px){
    .hideNavText2{
        display: none;
    }

    .hideItemText{
        display: none;
    }

}

@media  screen and (max-width: 765px){
    .marketSideBar{
        height: 3.8vh;
        float: left;

        background-color: #79af7c;

        padding-top: 7%;

    }

    .sidePst{
        position: relative;
        top: -37px
    }


    .category_box{
        margin-left: 0.1px;
        width: 100%;
        height: 100%;
        /*margin-bottom: 10px;*/
        text-align: center;
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        color: white;
        font-weight: lighter;
    }
    .category_box:hover{
        background-color: #9ec788;
    }

    .hiddenText{
        display: none;
    }

    .hideNavText{
        display: none;
    }
    .showText2{
        margin-left: 4%;
        display: block;
        color: #0f5132;
        font-weight: bold;
        font-size: 1.6rem;
    }


    .showHiddenBar{
        display: block;
        color: #0f5132;
        text-align: center;
        font-weight: bold;
        background-color: #bad7bc;
        width: 100%;
        font-size: 1.2rem;

        text-decoration-line: none;


    }

    .mrgBTT{
        margin-bottom: 4vh;
    }


}

@media  screen and (max-width: 660px){

    .nav-height{
        height: 65px
    }



}

@media  screen and (max-width: 600px){



}
