body {
    font-family: Arial, sans-serif;
    background-color: #A4CF8F; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.register-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
}

.form-input {
    margin-bottom: 15px;
}

.form-input input,
.form-input select {
    width: 100%;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #D9D9D9;
    color: #333; /* Text color for input */
}

.form-input input::placeholder {
    color: #7C7979; /* Placeholder text color */
}

.form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF6B6B; /* Reddish background for button */
    color: #AC2525;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.form-button:hover {
    background-color: #ff4d4d; /* Darker shade when hovered */
}

.form-footer {
    text-align: center;
    margin-top: 20px;
}

.form-footer a {
    color: #2E7EDC;
    text-decoration: none;
    font-size: 14px;
}

.form-footer span{
    color: #7C7979;
    font-size: 14px;
}

.form-footer a:hover {
    text-decoration: underline;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .register-container {
        max-width: 260px; 
    }

    .register-container {
        padding: 15px;
    }
}
